<div class = "container">
<p><h1><label>Branch: </label><%= @currentDojo.branch%></h1></p>
<p><h3><label>Address:</label></h3></p>
<p><%= @currentDojo.street%></p>
<p><%= @currentDojo.state%></p>
<p><%= @currentDojo.city%></p>

<table border="1">
<thead>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th> Actions</th>
</thead>
<tbody>
   
    <%= @students.each do |student| %>
    <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %>

        <td><%= link_to "Show", show_dojo_student_path(@currentDojo, student.id) %> |
        <%= link_to "Edit", edit_dojo_student_path(@currentDojo.id, student.id) %> | 
        <a data-confirm="You Sure?" rel="nofollow" data-method="delete" href="/dojos/<%= @currentDojo.id %>/students/<%= student.id %>">Remove</a>
        </td>
    </tr>
    <% end %>
</tbody>
</table>

<%= link_to "Home", root_path %>
<%= link_to "Add Student", new_dojo_student_path(@currentDojo ) %>

</div>